<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="DatabaseContext" connectionString="metadata=res://*/Core.DataModel.csdl|res://*/Core.DataModel.ssdl|res://*/Core.DataModel.msl;provider=System.Data.SqlClient;provider connection string='Data Source=.\SQLEXPRESS;AttachDbFilename=&quot;C:\Users\Mat\Documents\Visual Studio 2010\Projects\TripleThreatWF\TripleThreatWF\App_Data\ASPNETDB.MDF&quot;;Integrated Security=True;MultipleActiveResultSets=True;Connect Timeout=30;User Instance=True'" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>