<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="DatabaseContext" connectionString="metadata=res://*/Core.DataModel.csdl|res://*/Core.DataModel.ssdl|res://*/Core.DataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.\SQLEXPRESS;AttachDbFilename=C:\Users\islander\Documents\csu\OODsummer2010\project\TripleThreatWF1.0\TripleThreatWF\App_Data\ASPNETDB.MDF;Integrated Security=True;Connect Timeout=30;User Instance=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>